body
{
 background-color: #f5f6f7;
}

img
{
    width: 60%;
}
/* .reference
{
    background-image: url("../images/reference.png");
    background-size: cover;
    z-index: 10;
    opacity: 50%;
    width: 100%;
    height: 100vh;
    position: absolute;
} */

.navbar
{
    padding: 0px 100px !important;
    background-color: white!important;
    max-height: 70px;
}

.navbar-brand
{
    padding: 0px;
    position: absolute;
    z-index: 2;
    top: 0;
}

.navbar-brand img
{
    width: 70%;
}

.globalNav
{
    position: relative;
    background-color: white;
    width: 100%;
    height: 50px;

}



.globalNav ul
{
    position: absolute;
    right: 0;
}

ul.workLinks li
{
    display: inline-block;
    width: 35%;
}

ul.workLinks li a img
{
    width: 100%;
}

.btn-primary {
    color: #fff;
    background-color: transparent !important;
    border-color: transparent;
}

.nav-item
{
    margin: auto;
}

@keyframes logo-move {
    0%   {top:0}
    100% {top:-130px;}
}

.jumbotron
{
    background-color: #f5f6f7 !important;
    padding: 0px !important;
}

.content
{
    margin: 0px 100px;
    position: relative;
}

.content-holder
{
    position: absolute;
    bottom: 0;
}
.row
{
    margin: 0px;
}
.jumbotron h1
{
    font-family: 'Montserrat', sans-serif;
    font-size: 5rem;
    width: 700px;
    margin-bottom: 20px;
    color: #856245;
}

.jumbotron p.lead
{
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
}

.thumbNail a 
{
    display: block;
    text-align: center;
    margin: 5% auto;
}