body
{
 background-color: #f5f6f7;
}

img
{
    width: 60%;
}
/* .reference
{
    background-image: url("../images/reference.png");
    background-size: cover;
    z-index: 10;
    opacity: 50%;
    width: 100%;
    height: 100vh;
    position: absolute;
} */

.navbar
{
    padding: 0px 100px !important;
    background-color: white!important;
    max-height: 70px;
}

.navbar-brand
{
    padding: 0px;
    position: absolute;
    z-index: 2;
    top: 0;
}

.navbar-brand img
{
    width: 70%;
}

.globalNav
{
    position: relative;
    background-color: white;
    width: 100%;
    height: 50px;

}



.globalNav ul
{
    position: absolute;
    right: 0;
}

ul.workLinks li
{
    display: inline-block;
    width: 35%;
}

ul.workLinks li a img
{
    width: 100%;
}

.btn-primary {
    color: #fff;
    background-color: transparent !important;
    border-color: transparent;
}

.nav-item
{
    margin: auto;
}

@keyframes logo-move {
    0%   {top:0}
    100% {top:-130px;}
}

.jumbotron
{
    background-color: #f5f6f7 !important;
    padding: 0px !important;
}

.content
{
    margin: 0px 100px;
    position: relative;
}

.content-holder
{
    position: absolute;
    bottom: 0;
}
.row
{
    margin: 0px;
}
.jumbotron h1
{
    font-family: 'Montserrat', sans-serif;
    font-size: 5rem;
    width: 700px;
    margin-bottom: 20px;
    color:  #856245;
}

.jumbotron p.lead
{
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
}

.thumbNail a 
{
    display: block;
    text-align: center;
    margin: 5% auto;
}

/* this is the css for the all work page */

h1,
h1+p {
	margin: 30px 15px 0;
	font-weight: 300;
}
h1+p a {
	color: #333;
}
h1+p a:hover {
	text-decoration: none;
}
h2 {
	margin: 60px 15px 0;
	padding: 0;
	font-weight: 300;
}
h2 span {
	margin-left: 1em;
	color: #aaa;
	font-size: 85%;
}
.column {
	margin: 15px 15px 0;
	padding: 0;
}
.column:last-child {
	padding-bottom: 60px;
}
.column::after {
	content: '';
	clear: both;
	display: block;
}
.column div {
	position: relative;
	float: left;
	height: 200px;
	margin: 0 0 0 25px;
	padding: 0;
}
.column div:first-child {
	margin-left: 0;
}
.column div span {
	position: absolute;
	bottom: -2px;
	left: 0;
	z-index: 1;
	display: block;
	width: 100%;
	margin: 0;
	padding: 0;
	color: #fff;
	font-size: 18px;
	text-decoration: none;
	text-align: left;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    opacity: 0;
    background-color: rgba(0,0,0,.5);
}
figure {
	width: 300px;
	border-radius:13px ;
	margin: 0;
	padding: 0;
	overflow: hidden;
}


figure img 
{
    width: 100%;
}

.gallery a {
	width: 300px;
	border-radius:13px ;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.gallery ul
{
    width: 100%;
    text-align: center;
}

.gallery p
{
    margin-left: 15px;
    font-weight: 100;
}

.gallery h2
{
    margin-top:15px;
    font-weight: 600;
    font-size: 21px;
}

.gallery ul li
{
    display: inline-block;
    width: 30%; 
    margin-left: 3%;
}

.gallery li
{
   position: relative; 
}

.gallery a:hover+span {
	bottom: 0px;
	opacity: 1;
}

.gallery a img 
{
    width: 100%;
}

/* Blur */




.gallery  img {
	-webkit-filter: blur(0px);
	filter: blur(0px);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.gallery a:hover img {
	-webkit-filter: blur(4px);
	filter: blur(4px);
}